@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Grape+Nuts&family=Nunito:ital,wght@0,200;0,500;0,900;1,700&family=Open+Sans:ital,wght@0,300;1,300;1,400&family=Poppins:ital,wght@0,200;0,400;0,600;0,900;1,300&family=Rubik+Doodle+Shadow&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    background: rgb(157,157,149);
    background: radial-gradient(circle, rgba(157,157,149,1) 0%, rgba(12,16,5,1) 0%, rgba(8,11,8,0.9108893557422969) 57%, rgba(12,16,5,1) 77%);  
    color: wheat;
}
header .lluba{
    display: flex;
    justify-content: center;
    color: rgb(144 46 10 / 99%);
    width: 90%;
    padding: 8px;
    letter-spacing: 2px;
    animation: slide-in 8000ms;
    animation-iteration-count: infinite;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 24px;
    border-top: 1px solid orangered;
    border-bottom: 1px solid orangered;
}
nav h3{
    font-size: 30px;
    
}
nav .logo{
    width: 30%;
}
.logo h3{
    font-weight: bold;
    letter-spacing: 2px;
}
nav .navsherbimet{
    display: flex;
    align-items: center;
}
nav .navsherbimet ul{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 55px;
    
}
/* Updated CSS */
nav .navsherbimet ul li {
    list-style: none;
}

nav .navsherbimet ul li a {
    font-size: 23px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(144 46 10 / 99%);
    transition: 0.4s ease-in;
}
nav .navsherbimet ul li a:hover{
    color: white;
}
.container{
    margin-top: 3%;
    margin-left: 7%;
}
section{
    display: flex;
}

.container img{
object-fit: cover;
padding: 6%;
border-radius: 170px;
border: 3px solid rgb(144 46 10 / 99%);
}
.card-text{
    width: 60%;
}
.card-text h1{
    font-size: 90px;
}
.card-text h4{
    font-size: 29px;
    margin-bottom: -3%;
}
.card-text h3{
    font-size: 35px;
   /* color: rgb(144 46 10 / 99%);*/
}
.Berisha{
    color: rgb(144 46 10 / 99%);
}
.card-text p {
    padding: 8px;
    font-size: 18px;
}
button{
    padding: 13px 5%;
    margin-top: 10px;
    background-color: rgb(144 46 10 / 99%) ;
    border-radius: 14px;
    font-size: 18px;
    color: wheat;
    font-weight: 600;
    cursor: pointer;
}


.buttons :nth-child(2){
    background-color: unset;
    transition: 0.7s ease-in-out;
    margin-left: 10px;
}
.buttons :nth-child(2):hover{
    background-color: rgb(144 46 10 / 99%) ;
}

@keyframes slide-in {
    from {
      opacity: 0.25;
      scale: 1
    }
    to {
        scale:1.1
    }
  }



@media screen and (min-width : 320px) and (max-width : 520px){
    nav .navsherbimet ul{
        width: 100%;
        flex-wrap: wrap;
    }
    nav .navsherbimet ul li a{
        font-size: 15px;
    }
    nav{
        flex-wrap: wrap;
    }
    nav .logo{
        width: 100%;
    }
    .card-text{
        width: 100%;
    }
    .card-text h1{
        width: 100%;
        font-size: 45px;
    }
}
@media screen and (min-width:767px) and (max-width:992px){
    header .lluba{
        width: 100%;
    }
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    section .text1{
        display: flex;
        flex-wrap: wrap;
    }
    section img{
        margin-top: 25px;
    }
    .logo h3{
        display: none;
    }
}
@media screen and(min-width:1439px){
    main{
        padding:4px
    }
}
